@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F0F8FF;
}

.main-container {
  width: 100%;
  height: 100vh;
  transition: 0.4s linear;
}

.box {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0px 15px 25px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

.box p {
  margin-bottom: 0;
}

.box p:nth-child(even) {
  margin-top: 0;
}

.box a {
  color: #54627C;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
 border-radius: 10px;
  /* background-color: #E5E5E5; */
  font-weight: bold;
  padding: 0.5rem 1rem;
  width: 100%;
}

.box .input-box {
  position: relative;
}

.box .input-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  color: black;
  border: 1px solid #000;
  border: none;
  border-bottom-style: solid;
  outline: none;
  letter-spacing: 1px;
  background: transparent;
}

.box .input-box label {
  position: absolute;
  color: black;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.box .input-box input:focus ~ label,
.box .input-box input:valid ~ label{
  top: -24px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}

.box input[type=submit] {
  background: transparent;
  border: none;
  outline: none;
  background: #03a9f4;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#logged-in {
  width: 100%;
  height: auto;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50px;
  display: none;
}

.login-true {
  opacity: 0;
}

.file-box{
  margin: 1rem 0;
}

.radio-box{
  display: flex;
  justify-content: space-between;
}

.btn{
  color: white;
  padding: 1rem 2rem;
  border: none;
  width: 100%;
  font-size: medium;
  font-weight: 500;
  background-color: #377DFF;
  transition: all 0.2s;
}

.log_in_box{
  width: 100%;
  border: none;
  padding: 1rem;
 margin-top: 1rem;
}